:root{

/*Primary*/
--Bright_orange: hsl(31, 77%, 52%);
--Dark_cyan: hsl(184, 100%, 22%);
--Very_dark_cyan: hsl(179, 100%, 13%);

/*Neutral*/
--Transparent_white: hsla(0, 0%, 100%, 0.75);
--Very_light_gray: hsl(0, 0%, 95%);
--font1: 'Big Shoulders Display', sans-serif;
--font2: 'Lexend Deca', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    padding: 80px 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 350px);
    justify-content: center;
}

.card{
    padding: 1rem 2rem;
}

.card__color1{
    border-radius: 10px 10px 0 0;
    background-color: var(--Bright_orange);
}

.card__color2{
    background-color: var(--Dark_cyan);
}

.card__color3{
    border-radius: 0 0 10px 10px ;
    background-color: var(--Very_dark_cyan);
}

.card__header{
    margin-top: 1.5rem;
    color: var(--Transparent_white);
    font-family: var(--font1);
    text-transform: uppercase;
    font-weight: 700;
}

.card__body{
    margin-bottom: 2rem;
}

.card__descripcion{
    margin: 1rem 0 2rem 0;
    color: var(--Transparent_white);
    font-family: var(--font2);
    font-size: 15px;
    line-height: 1.6;
}

.cta{
    margin: 2.5rem 0;
    padding: 10px 20px;
    text-decoration: none;
    background-color: var(--Very_light_gray);
    border-radius: 30px;
    font-size: 14px;
    color: var(--Bright_orange);
}

.cta:hover{
    background-color: var(--Bright_orange);
    color: var(--Very_light_gray);
    border: 2px solid  var(--Very_light_gray);
}

.cta__color2{
    color: var(--Dark_cyan);
}

a.cta__color2:hover{
    background-color: var(--Dark_cyan);
}


.cta__color3{
    color: var(--Very_dark_cyan);
}

a.cta__color3:hover{
    background-color: var(--Very_dark_cyan);
}


@media(min-width:768px){

    .container{
        padding: 50px 30px;
        grid-auto-flow: column;
        grid-template-columns: repeat(3, 250px);
    }
    
    .card__color1{
        border-radius: 10px 0 0 10px;
    }
    
    .card__color3{
        border-radius: 0  10px  10px 0 ;
    }

    .card__descripcion{
        margin-bottom: 4rem;
        
    }

}
